body,
html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #fff;
    font-family: Arial, sans-serif;
}

html {
    font-size: calc(100% + 0.25vw);
    line-height: 1.5;
}

@media (min-width: 1300px) {
  html {
    font-size: calc(110% + 0.25vw);
  }
}

.content-wrapper {
  position: relative;
  min-height: 100%;
}

.content-section {
  padding-bottom: 60px;
}

/* introduction */
.introduction__content {
  padding: 1vh 5px;
  text-align: center;
}

.introduction__title {
  margin: 0;
  padding-bottom: 2vh;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
  line-height: 1em;
}

@media (min-width: 550px) {
  .introduction__title {
    font-size: 2rem;
  }
}

.introduction__text {
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .introduction__text {
    max-width: 75vw;
  }
}

/* gallery */
.gallery__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 550px) {
  .gallery__inner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery__item {
  height: 50vh;
  position: relative;
  margin: 10px;
  flex: auto;
  cursor: pointer;
}

@media (min-width: 900px) {
  .gallery__item {
    height: 33vh;
  }
}

.gallery__image {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* Полифил для Edge и IE */
  font-family: 'object-fit: cover;'
}

@media (min-width: 550px) {
  .gallery__item {
    width: 25vw;
  }

  .gallery__item:nth-child(4n) {
    flex-basis: 460px;
  }

  .gallery__item:nth-child(7n+1) {
    flex-basis: 550px;
  }
}

.gallery__cover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;

  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  /* Хак для плавной анимации */
  backface-visibility: hidden;

  width: 100%;
  height: 100%;
  background-color: #808080;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  display: flex;
}

.gallery__cover-inner {
  margin: auto;
}

.gallery__item:hover .gallery__cover {
  opacity: 1;
}

.gallery__icon {
  text-align: center;
  font-size: 2rem;
}

.gallery__text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

/* footer */
.footer {
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #606060;
  box-shadow: 0 0 2px 0 #606060;
}

.footer__inner {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.footer__logo {
  font-size: 40px;
  margin-right: 10px;
}

.footer__text {
  line-height: 60px;
}

/* overlay */
.page-overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.9);
  position: fixed;
  z-index: 1;
  left: -105%;
  top: 0;
  overflow-x: hidden;
  display: flex;
  transition: 0.5s;
}

.page-overlay__wrapper {
  margin: auto;
}

.page-overlay__image {
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  object-fit: contain;
  /* Полифил для Edge и IE */
  font-family: 'object-fit: contain;'
}

.button {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,.6);
}

.page-overlay__close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
